@import url('https://fonts.googleapis.com/css2?family=Pompiere&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* --------------- General settings ---------------*/

:root {
    
    /* Colors */
    --white-color: #fff;
    --dark-color: #252525;
    --primary-color: #304878;
    --secondary-color: #FFE2BA;
    --light-beige-color: #EBE7E0;
    --medium-beige-color: #604848;
    --light-green-color: #B5D303;
    --medium-green-color: #A2C002;
    --dark-green-color: #7A9B00;

    /* Font size */
    --font-size-xs: 0.7rem;
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /* Font weight */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius_circle: 50%;

    /* Site max width */
    --site-max-widht: 1300px;

}

/* --------------- Stylings for whole site ---------------*/
ul {
    list-style: none;
}

a {
    text-decoration: none;
}
button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

main {
    padding-top: 130px;
}

main section {
    margin-top: 30px;
    margin-bottom: 50px;
}

/* --------------- navbar styling ---------------*/
header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background: var(--primary-color);
}

header .navbar {
    display: flex;
    padding: 30px 5%;
    justify-content: space-between;
    align-items: center; 
}

.navbar .nav-logo{
    display: flex;
    gap: 20px;
}

.navbar .navbar-Menu{
    display: flex;
}

.navbar .nav-logo .nav-EliudName{
    color: var(--white-color)
}

.navbar .nav-logo .nav-EliudName{
    color: var(--white-color);
    font-size: var(--font-size-xl);
}

.navbar .nav-logo .nav-project {
    color: var(--white-color);
    font-family: "Pompiere", sans-serif;
    font-size: var(--font-size-l);
    margin-top: 1.5%;; /* lo empuja hacia abajo */
    font-weight: var(--font-weight-normal);
}

.navbar .navbar-Menu {
    display: flex;
    gap: 50px;
}

.navbar .navbar-Menu .nav-link{
    color: var(--white-color);
    font-size: var(--font-size-l);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
    text-align: center;
}

.navbar .navbar-Menu .nav-link:hover{
    padding: 10px 18px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: var(--font-size-l);
}

/* hide buttons */
.navbar .navbar-Menu #nav-close-button {
    display: none;
    color: var(--dark-color);
    font-size: var(--font-size-l);
}

.navbar #nav-open-button {
    display: none;
    color: var(--white-color);
    font-size: var(--font-size-l);
}


/* --------------- Who am I styling ---------------*/


.my-description {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}

.my-description .photo {
    flex: 1;
    max-width: 45%;
}

.my-description .photo img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-m);
    transition: transform 0.25s ease-in-out;
}

.my-description .photo img:hover {
    transform: translateY(-5px);
}

.my-description .description-section {
    flex: 2;
    max-width: 55%;
}

.description-title .name {
    font-size: var(--font-size-xxl);
    color: var(--primary-color);
}

.description-title .title {
    font-size: var(--font-size-xl);
    font-family: "Pompiere", sans-serif;
    padding-bottom: 15px;
}

.description-title {
  line-height: 1;        /* fuerza línea compacta */
}

.description-content {
    padding-bottom: 10px;
}

.description-content .description-hr {
    border: none;
    height: 1px;               /* grosor de la línea */
    background-color: var(--primary-color);     /* color de la línea */

}

.references {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: -10px
}

.references .contact-item {
    font-size: var(--font-size-xl);
}

.references .text-item {
    font-size: var(--font-size-m);
}

.text-item i {
  color: var(--primary-color); 
}

.contact-item i {
    color: var(--primary-color);
    transition: 0.2s ease;
}

.contact-item i:hover {
    color: var(--secondary-color);
}

.text-item span {
  color: var(--primary-color);
  font-size: var(--font-size-s);
}

.text_and_button_item a {
    color: var(--primary-color);
    font-size: var(--font-size-s);
    transition: 0.2s ease;
}

.text_and_button_item a:hover {
    color: var(--secondary-color);
}

/* Skills styling*/

.my-skills{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    background-color: var(--secondary-color);
}

.my-skills .title {
    color: var(--medium-beige-color);
    font-size: var(--font-size-m);
    text-align: center;
}

.my-skills .title {
  opacity: 0;
  transform: translateX(100px);
  transition: all 0.8s ease-out;
}

.my-skills .title.active {
  opacity: 1;
  transform: translateX(0);
}

.my-skills .title hr {
    border: none; 
    border-top: 4px solid var(--dark-green-color);
    border-radius: var(--border-radius-m);
    width: 50px;
    margin: 0 auto;
}

.my-skills .photos {
    display: flex;
    gap: 0px;
    justify-content: center;
    align-items: center;
}

.my-skills .photos .photo {
    transition: transform 0.25s ease-in-out;
}

.my-skills .photos .photo:hover {
    transform: translateY(-8px);
}

.my-skills .bars{
    display: flex;
    gap: 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.my-skills .bar_1,
.my-skills .bar_2,
.my-skills .bar_3 {
    height: 30px;
    flex: 1;
}

.my-skills .bar_1{
    background-color: var(--dark-green-color);
}

.my-skills .bar_2{
    background-color: var(--medium-green-color);
}

.my-skills .bar_3{
    background-color: var(--light-green-color);
}

.my-skills .text {
    display: flex;
    gap: 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.my-skills .text_1,
.my-skills .text_2,
.my-skills .text_3 {
    flex: 1;
    margin: 0;
    padding: 0;
    text-align: center;
}

.my-skills .text_1{
    color: var(--dark-green-color);
}

.my-skills .text_2{
    color: var(--medium-green-color);
}

.my-skills .text_3{
    color: var(--light-green-color);
}



@media screen and (max-width: 1000px) {

    /* --------------- General mobile settings ---------------*/
    :root{
        --font-size-m: 1rem;
        --font-size-l: 1.3rem;
        --font-size-xl: 1.5rem;
        --font-size-xxl: 1.8rem;
    }


    /* Set items in blur */
    body.show-mobile-menu header::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.2)
    }

    /* Set menu out of the screen */
    .navbar .navbar-Menu{
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        background: var(--white-color);
        transition: left 0.2s ease;
    }

    /* Bring menu to screen*/
    body.show-mobile-menu .navbar .navbar-Menu {
        left: 0;
    }

    /* navbar settings */
    .navbar .navbar-Menu #nav-close-button{
        font-size: var(--font-size-l);
        display: block;
    }

    .navbar .nav-logo .nav-EliudName{
    color: var(--white-color);
    font-size: var(--font-size-xl);
    }

    .navbar .nav-logo .nav-project {
    color: var(--white-color);
    font-family: "Pompiere", sans-serif;
    font-size: var(--font-size-l);
    }

    .navbar #nav-open-button{
        font-size: var(--font-size-l);
        display: block;
    }

    .navbar .navbar-Menu #nav-close-button {
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .navbar #nav-open-button {
        color: var(--white-color)
    }

    .navbar .navbar-Menu .nav-link {
        color: var(--dark-color);
        display: block;
        margin-top: 17px;
        font-size: var(--font-size-l);
        border-radius: 0;
    }

    /* Description section settings*/
    .my-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px; 
        padding: 30px 5%;
    }

    .my-description .photo {
        width: 100%;
        max-width: 400px;
    }

    .my-description .description-section {
        width: 100%; 
        max-width: 1200px;
        text-align: center;
    }


}