@import url('https://fonts.googleapis.com/css2?family=Pompiere&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* --------------- General settings ---------------*/

:root {
    
    /* Colors */
    --white-color: #fff;
    --dark-color: #252525;
    --primary-color: #304878;
    --secondary-color: #FFE2BA;
    --light-beige-color: #EBE7E0;
    --medium-beige-color: #604848;
    --light-green-color: #B5D303;
    --medium-green-color: #A2C002;
    --dark-green-color: #7A9B00;

    /* Font size */
    --font-size-xs: 0.7rem;
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /* Font weight */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius_circle: 50%;

    /* Site max width */
    --site-max-widht: 1300px;

}

/* --------------- Stylings for whole site ---------------*/
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

main {
    padding-top: 100px;
}

main section {
    margin-top: 30px;
}

/* --------------- navbar styling ---------------*/
header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background: var(--primary-color);
}

header .navbar {
    display: flex;
    padding: 30px 5%;
    justify-content: space-between;
    align-items: center; 
}

.navbar .nav-logo{
    display: flex;
    gap: 20px;
}

.navbar .navbar-Menu{
    display: flex;
}

.navbar .nav-logo .nav-EliudName{
    color: var(--white-color)
}

.navbar .nav-logo .nav-EliudName{
    color: var(--white-color);
    font-size: var(--font-size-xl);
}

.navbar .nav-logo .nav-project {
    color: var(--white-color);
    font-family: "Pompiere", sans-serif;
    font-size: var(--font-size-l);
    margin-top: 1.5%;; /* lo empuja hacia abajo */
    font-weight: var(--font-weight-normal);
}

.navbar .navbar-Menu {
    display: flex;
    gap: 50px;
}

.navbar .navbar-Menu .nav-link{
    color: var(--white-color);
    font-size: var(--font-size-l);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
    text-align: center;
}

.navbar .navbar-Menu .nav-link:hover{
    padding: 10px 18px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: var(--font-size-l);
}

/* hide buttons */
.navbar .navbar-Menu #nav-close-button {
    display: none;
    color: var(--dark-color);
    font-size: var(--font-size-l);
}

.navbar #nav-open-button {
    display: none;
    color: var(--white-color);
    font-size: var(--font-size-l);
}


/* --------------- Who am I styling ---------------*/


.my-description {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}

.my-description .photo {
    flex: 1;

}

.my-description .photo img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-m);
    transition: transform 0.25s ease-in-out;
}

.my-description .photo img:hover {
    transform: translateY(-5px);
}

.my-description .description-section {
    flex: 2;
    max-width: 70%;
}

.description-title .name {
    font-size: var(--font-size-xxl);
    color: var(--primary-color);
}

.description-title .title {
    font-size: var(--font-size-xl);
    font-family: "Pompiere", sans-serif;
    padding-bottom: 15px;
}

.description-title {
  line-height: 1; 
}

.description-content {
    padding-bottom: 10px;
}

.description-content p {
    margin-bottom: 5px;
    font-size: medium;
}

.description-content ol {
    margin-left: 50px;
}

.description-content .description-hr {
    border: none;
    height: 1px; 
    background-color: var(--primary-color);

}

.references {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: -10px
}

.references .contact-item {
    font-size: var(--font-size-xl);
}

.references .text-item {
    font-size: var(--font-size-m);
}

.text-item i {
  color: var(--primary-color); 
}

.contact-item i {
    color: var(--primary-color);
    transition: 0.2s ease;
}

.contact-item i:hover {
    color: var(--secondary-color);
}

.text-item span {
  color: var(--primary-color);
  font-size: var(--font-size-s);
}

.text_and_button_item a {
    color: var(--primary-color);
    font-size: var(--font-size-s);
    transition: 0.2s ease;
}

.text_and_button_item a:hover {
    color: var(--secondary-color);
}

/* Skills styling*/

.my-skills{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    background-color: var(--secondary-color);
}

.my-skills .title {
    color: var(--medium-beige-color);
    font-size: var(--font-size-m);
    text-align: center;
}

.my-skills .title {
  opacity: 0;
  transform: translateX(100px);
  transition: all 0.8s ease-out;
}

.my-skills .title.active {
  opacity: 1;
  transform: translateX(0);
}

.my-skills .title hr {
    border: none; 
    border-top: 4px solid var(--dark-green-color);
    border-radius: var(--border-radius-m);
    width: 50px;
    margin: 0 auto;
}

.my-skills .photos {
    display: flex;
    gap: 0px;
    justify-content: center;
    align-items: center;
}

.my-skills .photos .photo {
    transition: transform 0.25s ease-in-out;
}

.my-skills .photos .photo:hover {
    transform: translateY(-8px);
}

.my-skills .bars{
    display: flex;
    gap: 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.my-skills .bar_1,
.my-skills .bar_2,
.my-skills .bar_3 {
    height: 30px;
    flex: 1;
}

.my-skills .bar_1{
    background-color: var(--dark-green-color);
}

.my-skills .bar_2{
    background-color: var(--medium-green-color);
}

.my-skills .bar_3{
    background-color: var(--light-green-color);
}

.my-skills .text {
    display: flex;
    gap: 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.my-skills .text_1,
.my-skills .text_2,
.my-skills .text_3 {
    flex: 1;
    margin: 0;
    padding: 0;
    text-align: center;
}

.my-skills .text_1{
    color: var(--dark-green-color);
}

.my-skills .text_2{
    color: var(--medium-green-color);
}

.my-skills .text_3{
    color: var(--light-green-color);
}

/* Project section*/

.projects-section .section-title {
    color: var(--primary-color);
    font-size: var(--font-size-m);
    text-align: center;
}

.projects-section .section-title {
  opacity: 0;
  transform: translateX(100px);
  transition: all 0.8s ease-out;
}

.projects-section .section-title.active {
  opacity: 1;
  transform: translateX(0);
}

.projects-section hr {
    border: none; 
    border-top: 4px solid var(--primary-color);
    border-radius: var(--border-radius-m);
    width: 50px;
    margin: 0 auto 25px auto;
}


.project {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.5px solid gray;
  border-top-right-radius: 21px;
  border-top-left-radius: 21px;
}

.project .project-image {
  transition: transform 0.2s ease, filter 0.2s ease;
  border-top-right-radius: 21px;
  border-top-left-radius: 21px;
}

.project .project-image:hover {
  filter: brightness(1.2);
}

.project .project-name {
    text-align: center;
    font-family: "Pompiere", sans-serif;
    margin-bottom: 5px;
    color: black;
    opacity: 0.8;
}

.project .project-hr {
    width: 95%;
    border-top: 1px solid black;
}

.project .project-description {
    color: black;
    font-style: normal;
    text-align: justify;
    padding: 0 2%;
}

.project .project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 2%;
}

/* tags colors */
.tag-python {
    color:  rgba(0, 0, 255, 0.5);
    background-color: rgba(0, 0, 255, 0.2);
    padding: 3px 3px;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 4px;
    font-size: var(--font-size-xs);
}

.tag-numpy {
    color:  rgba(10, 58, 7, 0.5);
    background-color: rgba(10, 58, 7, 0.2);
    padding: 3px 3px;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 4px;
    font-size: var(--font-size-xs);
}

.tag-pandas {
    color:  rgba(255, 0, 212, 0.5);
    background-color: rgba(255, 0, 212, 0.2);
    padding: 3px 3px;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 4px;
    font-size: var(--font-size-xs);
}

.tag-deep-learning {
    color:  rgba(193, 18, 73, 0.5);
    background-color: rgba(193, 18, 73, 0.3);
    padding: 3px 3px;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 4px;
    font-size: var(--font-size-xs);
}

.tag-YOLO {
    color:  rgba(208, 117, 27, 0.5);
    background-color: rgba(208, 117, 27, 0.2);
    padding: 3px 3px;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 4px;
    font-size: var(--font-size-xs);
}

.tag-Selenium {
    color:  rgba(27, 151, 208, 0.5);
    background-color: rgba(27, 151, 208, 0.2);
    padding: 3px 3px;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 4px;
    font-size: var(--font-size-xs);
}

.tag-rdkit {
    color:  rgba(73, 234, 132, 0.5);
    background-color: rgba(73, 234, 132, 0.2);
    padding: 3px 3px;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 4px;
    font-size: var(--font-size-xs);
}

.tag-rdkit {
    color:  rgba(73, 234, 132, 0.5);
    background-color: rgba(73, 234, 132, 0.2);
    padding: 3px 3px;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 4px;
    font-size: var(--font-size-xs);
}

.tag-matplotlib {
    color:  rgba(234, 73, 159, 0.5);
    background-color: rgba(234, 73, 159, 0.2);
    padding: 3px 3px;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 4px;
    font-size: var(--font-size-xs);
}


/* My projects wrapper settings */
.slider-wrapper {
    overflow: hidden;
    margin: 0 60px 50px;
}

.swiper-slide-button {
    color: var(--primary-color) !important;
    opacity: 0.8;
    transition: 0.3s ease;
}

.swiper-slide-button:hover {
    color: var(--primary-color) !important;
    opacity: 1;
}

.projects-section .swiper-pagination-bullet {
  background: var(--primary-color) !important;
  opacity: 0.6 !important;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.projects-section .swiper-pagination-bullet-active {
  background: var(--primary-color) !important;
  opacity: 1 !important;
}


/* My resume section title settings */
.resume-section {
    background-color: var(--secondary-color);
    padding: 40px 0;
}

.resume-section .section-title {
    color: var(--medium-beige-color);
    font-size: var(--font-size-m);
    text-align: center;
}

.resume-section .section-title {
  opacity: 0;
  transform: translateX(100px);
  transition: all 0.8s ease-out;
}

.resume-section .section-title.active {
  opacity: 1;
  transform: translateX(0);
}

.resume-section hr {
    border: none; 
    border-top: 4px solid var(--dark-green-color);
    border-radius: var(--border-radius-m);
    width: 50px;
    margin: 0 auto 25px auto;
}

/* Resume wrapper settings */
.slider-container-resume {
  position: relative;
  width: 100%;
  padding: 0 5% !important;
}

.slider-wrapper-resume {
  position: relative;
  overflow: hidden;
  margin: 0 auto 60px auto;
}

.slider-container-resume .swiper-pagination {
  position: relative;
  margin-top: 20px;
  text-align: center;
  z-index: 10;
}

.swiper-slide-button-resume {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  font-size: 35px;
  color: var(--dark-green-color) !important;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s ease;
}

.resume-section .swiper-pagination-bullet {
  background: var(--dark-green-color) !important;
  opacity: 0.6 !important;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  transition: opacity 0.3s;
}

.resume-section .swiper-pagination-bullet-active {
  background: var(--dark-green-color) !important;
  opacity: 1 !important;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  transition: opacity 0.3s;
}

/* Resume content */
.resume {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.resume .title-name {
    text-align: left !important;
    width: 100%;
    display: block;
    font-family: "Pompiere", sans-serif;
    color: var(--medium-beige-color)
}

.resume .resume-content-hr {              
    border-top: 1px solid var(--dark-green-color) !important;
    width: 100% !important;                     
    margin: 10px auto 20px auto !important;              
}

.content {
    margin-bottom: 50px !important;
}

.title-and-photo {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.element-photo {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.title-and-year .title {
    color: var(--medium-beige-color);
}

.title-and-year .years {
    color: var(--medium-beige-color);
    font-family: "Pompiere", sans-serif;
}

.content .description {
    text-align: justify;
    color: var(--medium-beige-color)
}

.resume-content ul {
  list-style: disc;        /* tipo de viñeta: • */
  padding-left: 20px;      /* agrega espacio para que se vean */
  margin-left: 0;
}

.resume-content ul ul {
  list-style: circle;      /* viñetas secundarias: ○ */
  padding-left: 25px;
}

/* footer */
.site-footer {
    background-color: var(--dark-green-color);
    color: white;
    text-align: center;
    padding: 45px 0;
    width: 100%;
    font-size: 16px;
}

@media screen and (max-width: 1000px) {

    /* --------------- General mobile settings ---------------*/
    :root{
        --font-size-m: 1rem;
        --font-size-l: 1.3rem;
        --font-size-xl: 1.5rem;
        --font-size-xxl: 1.8rem;
    }


    /* Set items in blur */
    body.show-mobile-menu header::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.2)
    }

    /* Set menu out of the screen */
    .navbar .navbar-Menu{
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        background: var(--white-color);
        transition: left 0.2s ease;
    }

    /* Bring menu to screen*/
    body.show-mobile-menu .navbar .navbar-Menu {
        left: 0;
    }

    /* navbar settings */
    .navbar .navbar-Menu #nav-close-button{
        font-size: var(--font-size-l);
        display: block;
    }

    .navbar .nav-logo .nav-EliudName{
    color: var(--white-color);
    font-size: var(--font-size-xl);
    }

    .navbar .nav-logo .nav-project {
    color: var(--white-color);
    font-family: "Pompiere", sans-serif;
    font-size: var(--font-size-l);
    }

    .navbar #nav-open-button{
        font-size: var(--font-size-l);
        display: block;
    }

    .navbar .navbar-Menu #nav-close-button {
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .navbar #nav-open-button {
        color: var(--white-color)
    }

    .navbar .navbar-Menu .nav-link {
        color: var(--dark-color);
        display: block;
        margin-top: 17px;
        font-size: var(--font-size-l);
        border-radius: 0;
    }

    /* Description section settings*/
    .my-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px; 
        padding: 30px 5%;
    }

    .my-description .photo {
        width: 100%;
        max-width: 400px;
    }

    .my-description .description-section {
        width: 100%; 
        max-width: 1200px;
        text-align: justify;
    }

    /* Projects section settings*/
    .swiper-slide-button {
        display: none !important;
    }

    .swiper-slide-button-resume{
        display: none !important;
    }


}